# Node 1 
NODE1_HOST=thecloudhttprouteintheemail
NODE1_PORT=portindicatedinemail
NODE1_USER=validuser
NODE1_PASSWORD=passwordforuser
NODE1_DB=dbname

# Node 2 
NODE2_HOST=thecloudhttprouteintheemail
NODE2_PORT=portindicatedinemail
NODE2_USER=validuser
NODE2_PASSWORD=passwordforuser
NODE2_DB=dbname

# Node 3 
NODE3_HOST=thecloudhttprouteintheemail
NODE3_PORT=portindicatedinemail
NODE3_USER=validuser
NODE3_PASSWORD=passwordforuser
NODE3_DB=dbname

# Server Port
PORT=desiredort